pkgbase = plowshare-git
	pkgdesc = Command-line downloader and uploader for Rapidshare, Mediafire and other file sharing websites.
	pkgver = 2.1.7.r2.g29911a50
	pkgrel = 2
	url = https://github.com/mcrapet/plowshare
	arch = any
	license = GPL3
	makedepends = git
	depends = curl
	depends = recode
	depends = js52
	optdepends = bash-completion: enable bash auto completion
	optdepends = libcaca: ascii display for no X server
	optdepends = tiv: ascii display for no X server
	optdepends = aview: ascii display for no X server
	provides = plowshare
	conflicts = plowshare
	replaces = plowshare-svn
	source = plowshare-git::git+https://github.com/mcrapet/plowshare.git
	source = js52.patch
	sha256sums = SKIP
	sha256sums = d00a391d18949e5b4032238f39ec3710803fed027cfa30b49f87cd1b0d246037

pkgname = plowshare-git

